.BuildControl {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
}

.BuildControl button {
  display: block;
  font: inherit;
  padding: 5px;
  margin: 0 5px;
  width: 80px;
  border: 1px solid grey;
  cursor: pointer;
  outline: none;
}

.BuildControl button:disabled {
  background: #232526; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #414345,
    #232526
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #414345,
    #232526
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border: 1px solid grey;
  color: #ccc;
  cursor: default;
}

.BuildControl button:hover:disabled {
  background: grey;
  color: #ccc;
  cursor: not-allowed;
}

.Label {
  padding: 10px;
  font-weight: bold;
  width: 80px;
}

.BuildControl .Less {
  background: #200122; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #a00505,
    #200122
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #a00505,
    #200122
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: white;
}

.BuildControl .More {
  background: #6a9113; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #141517,
    #6a9113
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #141517,
    #6a9113
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: white;
}

.BuildControl .Less:hover,
.BuildControl .Less:active {
  background: #413f3f; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #e74c3c,
    #413f3f
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #e74c3c,
    #413f3f
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: white;
}

.BuildControl .More:hover,
.BuildControl .More:active {
  background: #a0d331; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #141517,
    #a0d331
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #141517,
    #a0d331
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  color: white;
}
