.Logo {
  background-color: white;
  padding: 8px;
  height: 60px;
  box-sizing: border-box;
  border-radius: 20px;
  border: 2px solid yellow;
  margin-bottom: 5px;
}

.Logo img {
  height: 45px;
}

@media (min-width: 500px) {
  .Logo {
    margin-top: 10px;
    margin-left: 170px;
    height: 45px;
    width: auto;
  }
}
