.SideDrawer {
  position: fixed;
  width: 280px;
  max-width: 50%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 200;
  background: #283048; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #859398,
    #283048
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #859398,
    #283048
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  padding: 32px 16px;
  box-sizing: border-box;
  transition: transform 0.3s ease-out;
}

@media (min-width: 500px) {
  .SideDrawer {
    display: none;
  }
}

.Open {
  transform: translateX(0%);
}

.Close {
  transform: translateX(-100%);
}
